<center><br><font size=10>Data Warehouse Project</font><br>
    <br><font size=7>Part 1 - ETL</font>
    <br><b>Industrial Engineering and Management - Tel Aviv University</b>
<br>2019</center>

# Contents:
**[ETL](#1.-ETL)**
   * [Extract](#Extract)
       - [Listings](#Listings)
       - [Calendar](#Calendar)
       - [Reviews](#Reviews)
   * [Transform](#Transform)
       - [Host dimension](#Host-dimension)
       - [Listing dimension](#Listing-dimension)
       - [Date dimension](#Time-dimension)
       - [Facts Table](#Facts-Table)
   * [Load](#Load)

In [4]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

import warnings
warnings.filterwarnings('ignore')


pd.set_option('display.max_columns', None)

In [5]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

# 1. ETL

# Extract

###  Extract csv files and display ( + shapes )

In [6]:
df_listings = pd.read_csv('listings.csv', low_memory=False)
df_calendar = pd.read_csv('calendar.csv', low_memory=False)
df_reviews = pd.read_csv('reviews.csv', low_memory=False)

### Listings

In [7]:
df_listings.head(3)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,interaction,house_rules,thumbnail_url,medium_url,picture_url,xl_picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,market,smart_location,country_code,country,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,9835,https://www.airbnb.com/rooms/9835,20181207034809,2018-12-07,Beautiful Room & House,NaN,"House: Clean, New, Modern, Quite, Safe. 10Km f...","House: Clean, New, Modern, Quite, Safe. 10Km f...",none,Very safe! Family oriented. Older age group.,NaN,"YES ! The bus (305,309) is exactly two blocks ...","Kitchen, backyard, upstairs lounge. We'd like ...",As much as the guest wants.,Prefence would be given females or a couple,NaN,NaN,https://a0.muscache.com/im/pictures/44620/5a58...,NaN,33057,https://www.airbnb.com/users/show/33057,Manju,2009-08-21,AU,About us: We are an East Indian couple in our ...,a few days or more,0%,NaN,f,https://a0.muscache.com/defaults/user_pic-50x5...,https://a0.muscache.com/defaults/user_pic-225x...,NaN,1.0,1.0,"['email', 'phone', 'reviews']",f,f,"Bulleen, VIC, Australia",Balwyn North,Manningham,NaN,Bulleen,VIC,3105,Melbourne,"Bulleen, Australia",AU,Australia,-37.772684,145.092133,f,House,Private room,2,1.0,1.0,2.0,Real Bed,"{Internet,Wifi,""Pets live on this property"",Do...",NaN,$60.00,NaN,NaN,NaN,NaN,1,$22.00,1,365,17 months ago,t,30,60,90,365,2018-12-07,4,2011-05-24,2015-09-12,90.0,9.0,10.0,10.0,10.0,9.0,9.0,f,NaN,NaN,f,f,strict_14_with_grace_period,f,f,1,0.04
1,10803,https://www.airbnb.com/rooms/10803,20181207034809,2018-12-07,Room in Cool Deco Apartment in Brunswick,A large air conditioned room with queen spring...,The apartment is Deco/Edwardian in style and h...,A large air conditioned room with queen spring...,none,This hip area is a crossroads between two grea...,NaN,Easy transport options - the tram is right out...,Wifi. Bathroom and kitchen is shared but I mos...,I'm home mostly but sometimes I may be working...,Theres a yoga studio downstairs so if you see ...,NaN,NaN,https://a0.muscache.com/im/pictures/31323790/9...,NaN,38901,https://www.airbnb.com/users/show/38901,Lindsay,2009-09-16,"Melbourne, Victoria, Australia",As an artist working in animation and video I ...,NaN,NaN,NaN,f,https://a0.muscache.com/im/users/38901/profile...,https://a0.muscache.com/im/users/38901/profile...,Brunswick,1.0,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,"Brunswick East, VIC, Australia",Brunswick,Moreland,NaN,Brunswick East,VIC,3057,Melbourne,"Brunswick East, Australia",AU,Australia,-37.766505,144.980736,t,Apartment,Private room,2,1.0,1.0,1.0,Futon,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,H...",226.0,$35.00,$200.00,$803.00,$0.00,$9.00,1,$15.00,3,45,6 weeks ago,t,4,9,33,213,2018-12-07,108,2013-01-12,2018-11-26,87.0,9.0,8.0,9.0,9.0,9.0,9.0,f,NaN,NaN,t,f,moderate,t,t,1,1.50
2,12936,https://www.airbnb.com/rooms/12936,20181207034809,2018-12-07,St Kilda 1BR APT+BEACHSIDE+VIEWS+PARKING+WIFI+AC,RIGHT IN THE HEART OF ST KILDA! It doesn't get...,FREE WiFi FREE in-building remote controlled g...,RIGHT IN THE HEART OF ST KILDA! It doesn't get...,none,A stay at our apartment means you can enjoy so...,First floor apartment with both lift and stair...,Our apartment is located within walking distan...,Guests have exclusive and private access to th...,We don't always get to meet all our guests in ...,Please take a moment now to read our House Rul...,NaN,NaN,https://a0.muscache.com/im/pictures/59701/2e8c...,NaN,50121,https://www.airbnb.com/users/show/50121,Frank & Vince,2009-10-31,"Melbourne, Victoria, Australia","Hi, we’re Frank and Vince.\r\n\r\nThanks for r...",within an hour,100%,NaN,t,https://a0.muscache.com/im/users/50121/profile...,https://a0.muscache.com/im/users/50121/profile...,St Kilda,17.0,17.0,"['email', 'phone', 'google', 'reviews', 'jumio...",t,t,"St Kilda, VIC, Australia",St Kilda,Port Phillip,NaN,St Kilda,VIC,3182,Melbourne,"St Kilda, Australia",AU,Australia,-37.859755,144.977369,t,Apartment,Entire home/apt,3,1.0,1.0,2.0,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,""...",0.0,$159.00,"$1,253.00","$4,452.00",$450.00,$100.00,2,$28.00,3,28,today,t,10,26,51,326,2018-12-07,15,2010-08-04,2018-11-07,94.0,9.0,10.0,9.0,9.0,9.0,9.0,f,NaN,NaN,f,f,strict_14_with_grace_period,f,f,17,0.15

In [8]:
df_listings.shape

(22895, 96)

### Calendar

In [9]:
df_calendar.head(3)

   listing_id        date available price
0      136510  2019-10-15         f   NaN
1      136510  2019-10-14         f   NaN
2      136510  2019-10-13         f   NaN

In [10]:
df_calendar.shape

(8356675, 4)

In [11]:
df_calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8356675 entries, 0 to 8356674
Data columns (total 4 columns):
listing_id    int64
date          object
available     object
price         object
dtypes: int64(1), object(3)
memory usage: 255.0+ MB

### Reviews

In [12]:
df_reviews.head(3)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,9835,279854,2011-05-24,560832,Miriam,"Very hospitable, much appreciated.\r\n"
1,9835,3640746,2013-02-26,5143343,Michelle,A beautiful house in a lovely quiet neighbourh...
2,9835,23731188,2014-12-08,2478713,Karyn,This was my first time using airbnb and it was...

In [13]:
df_reviews.shape

(486920, 6)

In [14]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 486920 entries, 0 to 486919
Data columns (total 6 columns):
listing_id       486920 non-null int64
id               486920 non-null int64
date             486920 non-null object
reviewer_id      486920 non-null int64
reviewer_name    486919 non-null object
comments         486317 non-null object
dtypes: int64(3), object(3)
memory usage: 22.3+ MB

_____

# Transform

### Host dimension

In [15]:
dim_host = df_listings[['host_id', 'host_since', 'host_response_time','host_is_superhost','host_listings_count',\
                        'host_identity_verified']]

**Asuming that Null is that host never answered the messages**

In [16]:
dim_host = dim_host.drop_duplicates()
dim_host.host_response_time.fillna('never', inplace = True)

In [17]:
dim_host.host_response_time.value_counts(dropna = False)

never                 6353
within an hour        5744
within a few hours    1483
within a day          1099
a few days or more     309
Name: host_response_time, dtype: int64

In [18]:
dim_host.isnull().sum()

host_id                   0
host_since                3
host_response_time        0
host_is_superhost         3
host_listings_count       3
host_identity_verified    3
dtype: int64

**We can see that nulls belongs to the same hosts and these rows gives us nothing, so lets just drop them**

In [19]:
dim_host[dim_host.isnull().any(axis=1)]

,host_id,host_since,host_response_time,host_is_superhost,host_listings_count,host_identity_verified
2248,31891911,NaN,never,NaN,NaN,NaN
6957,50032978,NaN,never,NaN,NaN,NaN
17765,193648165,NaN,never,NaN,NaN,NaN

In [20]:
dim_host.dropna(inplace = True)

In [21]:
dim_host.head()

,host_id,host_since,host_response_time,host_is_superhost,host_listings_count,host_identity_verified
0,33057,2009-08-21,a few days or more,f,1.0,f
1,38901,2009-09-16,never,f,1.0,t
2,50121,2009-10-31,within an hour,t,17.0,t
3,59786,2009-12-03,never,f,3.0,t
4,65090,2009-12-22,within an hour,f,1.0,t

In [22]:
dim_host.shape

(14985, 6)

In [23]:
dim_host.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14985 entries, 0 to 22894
Data columns (total 6 columns):
host_id                   14985 non-null int64
host_since                14985 non-null object
host_response_time        14985 non-null object
host_is_superhost         14985 non-null object
host_listings_count       14985 non-null float64
host_identity_verified    14985 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 819.5+ KB

### Listing dimension

In [24]:
dim_listing = df_listings[['id', 'host_id', 'latitude', 'longitude', 'property_type','room_type','accommodates','bathrooms',\
                          'bedrooms','beds','price','minimum_nights','number_of_reviews','review_scores_rating',\
                           'instant_bookable']]

In [25]:
dim_listing.head(3)

,id,host_id,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,number_of_reviews,review_scores_rating,instant_bookable
0,9835,33057,-37.772684,145.092133,House,Private room,2,1.0,1.0,2.0,$60.00,1,4,90.0,f
1,10803,38901,-37.766505,144.980736,Apartment,Private room,2,1.0,1.0,1.0,$35.00,3,108,87.0,t
2,12936,50121,-37.859755,144.977369,Apartment,Entire home/apt,3,1.0,1.0,2.0,$159.00,3,15,94.0,f

In [26]:
def drop_sign(price):
    temp = price.split(",")
    str = ""
    for i in temp:
        str += i
    return float(str[1:])

In [27]:
dim_listing['price'] = dim_listing['price'].apply(drop_sign)

In [28]:
dim_listing.head(3)

,id,host_id,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,number_of_reviews,review_scores_rating,instant_bookable
0,9835,33057,-37.772684,145.092133,House,Private room,2,1.0,1.0,2.0,60.0,1,4,90.0,f
1,10803,38901,-37.766505,144.980736,Apartment,Private room,2,1.0,1.0,1.0,35.0,3,108,87.0,t
2,12936,50121,-37.859755,144.977369,Apartment,Entire home/apt,3,1.0,1.0,2.0,159.0,3,15,94.0,f

In [29]:
dim_listing.rename(columns = {"id":"listing_id"}, inplace=True)

**Formula to calculate rating based on multiple reviews (using both review score and quantity):**

### $$score = 𝑃𝑝 +100(1−𝑃)(1−𝑒^{-𝑞/𝑄})$$
where 𝑝 is the review rating, 𝑞 is the quantity of ratings, 𝑄 an appropriate number that shows what importance we attach to the notion "quantity", in the original formula we had 𝑃 = 0.7<br>
Source : https://math.stackexchange.com/questions/942738/algorithm-to-calculate-rating-based-on-multiple-reviews-using-both-review-score

In [30]:
rating_score = (0.7*df_listings['review_scores_rating']+100*0.3*(1-np.exp(-(df_listings['number_of_reviews']/10))))

In [31]:
dim_listing['rating_score'] = rating_score.round()

In [32]:
dim_listing.isnull().sum()

listing_id                 0
host_id                    0
latitude                   0
longitude                  0
property_type              0
room_type                  0
accommodates               0
bathrooms                 17
bedrooms                   5
beds                      34
price                      0
minimum_nights             0
number_of_reviews          0
review_scores_rating    5706
instant_bookable           0
rating_score            5706
dtype: int64

**Assuming that NA in bathrooms, bedrooms, beds means that there is no separate room for bathroom, bedroom or there is no regular bed at this property ( so we will fill NA with zeros )**

**Assuming that NA in review_scores_rating and rating_score means that there is no reviews or any given rating to this property ( so we will fill NA with zeros )**

In [33]:
dim_listing.fillna(0, inplace = True)

In [34]:
dim_listing.head(3)

,listing_id,host_id,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,number_of_reviews,review_scores_rating,instant_bookable,rating_score
0,9835,33057,-37.772684,145.092133,House,Private room,2,1.0,1.0,2.0,60.0,1,4,90.0,f,73.0
1,10803,38901,-37.766505,144.980736,Apartment,Private room,2,1.0,1.0,1.0,35.0,3,108,87.0,t,91.0
2,12936,50121,-37.859755,144.977369,Apartment,Entire home/apt,3,1.0,1.0,2.0,159.0,3,15,94.0,f,89.0

In [35]:
for_fact_table = dim_listing[['listing_id','host_id']]

In [36]:
dim_listing.drop('host_id',axis = 1, inplace = True)

In [37]:
dim_listing.tail(3)

,listing_id,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,number_of_reviews,review_scores_rating,instant_bookable,rating_score
22892,30592362,-37.875252,145.162757,Guesthouse,Private room,2,1.0,1.0,1.0,53.0,3,0,0.0,t,0.0
22893,30592590,-37.827795,144.954987,Apartment,Entire home/apt,2,1.0,1.0,1.0,130.0,7,0,0.0,t,0.0
22894,30593623,-37.805186,144.962399,Apartment,Entire home/apt,5,2.0,1.0,3.0,179.0,1,0,0.0,t,0.0

In [38]:
dim_listing.shape

(22895, 15)

In [39]:
dim_listing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22895 entries, 0 to 22894
Data columns (total 15 columns):
listing_id              22895 non-null int64
latitude                22895 non-null float64
longitude               22895 non-null float64
property_type           22895 non-null object
room_type               22895 non-null object
accommodates            22895 non-null int64
bathrooms               22895 non-null float64
bedrooms                22895 non-null float64
beds                    22895 non-null float64
price                   22895 non-null float64
minimum_nights          22895 non-null int64
number_of_reviews       22895 non-null int64
review_scores_rating    22895 non-null float64
instant_bookable        22895 non-null object
rating_score            22895 non-null float64
dtypes: float64(8), int64(4), object(3)
memory usage: 2.6+ MB

### Date dimension

In [40]:
dim_date = pd.DataFrame({'date':df_calendar['date'],
                         'year': pd.DatetimeIndex(df_calendar['date']).year,
                         'quarter': pd.DatetimeIndex(df_calendar['date']).quarter,
                         'month': pd.DatetimeIndex(df_calendar['date']).month,
                         'week': pd.DatetimeIndex(df_calendar['date']).week,
                         'day': pd.DatetimeIndex(df_calendar['date']).day})

In [41]:
dim_date.drop_duplicates(inplace = True)

In [42]:
dim_date.tail(3)

              date  year  quarter  month  week  day
810     2018-12-08  2018        4     12    49    8
811     2018-12-07  2018        4     12    49    7
160042  2019-12-07  2019        4     12    49    7

In [43]:
dim_date.shape

(366, 6)

In [44]:
dim_date.reset_index(inplace = True)
dim_date.drop('index',axis = 1, inplace = True)
dim_date.reset_index(inplace = True)
dim_date.rename(columns = {"index":"date_id"}, inplace=True)
dim_date.tail()

     date_id        date  year  quarter  month  week  day
361      361  2018-12-10  2018        4     12    50   10
362      362  2018-12-09  2018        4     12    49    9
363      363  2018-12-08  2018        4     12    49    8
364      364  2018-12-07  2018        4     12    49    7
365      365  2019-12-07  2019        4     12    49    7

In [45]:
dim_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 7 columns):
date_id    366 non-null int64
date       366 non-null object
year       366 non-null int64
quarter    366 non-null int64
month      366 non-null int64
week       366 non-null int64
day        366 non-null int64
dtypes: int64(6), object(1)
memory usage: 20.1+ KB

### Facts Table

In [46]:
pre_fact_rental = pd.merge(df_calendar, for_fact_table, on='listing_id',how = 'left').drop('price',axis = 1)

In [47]:
pre_fact_rental.head()

   listing_id        date available  host_id
0      136510  2019-10-15         f   668249
1      136510  2019-10-14         f   668249
2      136510  2019-10-13         f   668249
3      136510  2019-10-12         f   668249
4      136510  2019-10-11         f   668249

In [48]:
fact_rental = pd.merge(pre_fact_rental, dim_date[['date','date_id']], on='date',how = 'left').drop('date',axis = 1)

**Changing 't' (true) to 1 and 'f' (flase) to 0 in 'available' column to ease the calculations**

In [49]:
fact_rental['available'] = [1 if i=='t' else 0 for i in fact_rental['available']]

In [50]:
fact_rental.head()

   listing_id  available  host_id  date_id
0      136510          0   668249        0
1      136510          0   668249        1
2      136510          0   668249        2
3      136510          0   668249        3
4      136510          0   668249        4

In [51]:
fact_rental.shape

(8356675, 4)

In [52]:
fact_rental.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8356675 entries, 0 to 8356674
Data columns (total 4 columns):
listing_id    int64
available     int64
host_id       int64
date_id       int64
dtypes: int64(4)
memory usage: 318.8 MB

___

# Load

In [53]:
#import MySQLdb
import pymysql as mdb
mdb.install_as_MySQLdb()
#import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.sql import text

In [54]:
engine = create_engine("mysql://root:root@localhost")
con = engine.connect()

#create database melbourne
con.execute('DROP SCHEMA IF EXISTS melbourne')
con.execute('CREATE SCHEMA IF NOT EXISTS melbourne')

#use database melbourne
con.execute('USE melbourne')

#create the table dim_host
con.execute("""CREATE TABLE melbourne.dim_host
           (host_id INT PRIMARY KEY, 
            host_since VARCHAR(45), 
            host_response_time VARCHAR(45),
            host_is_superhost VARCHAR(2),
            host_listings_count FLOAT,
            host_identity_verified VARCHAR(2))""");

#create the table dim_listing
con.execute("""CREATE TABLE melbourne.dim_listing
           (listing_id INT PRIMARY KEY, 
            latitude VARCHAR(20), 
            longitude VARCHAR(20),
            property_type VARCHAR(45),
            room_type VARCHAR(45),
            accommodates INT,
            bathrooms FLOAT,
            bedrooms FLOAT,
            beds FLOAT,
            price FLOAT,
            minimum_nights INT,
            number_of_reviews INT,
            review_scores_rating FLOAT,
            instant_bookable VARCHAR(2),
            rating_score FLOAT)""");

#create the table dim_date
con.execute("""CREATE TABLE melbourne.dim_date
           (date_id INT PRIMARY KEY, 
            date date, 
            year INT,
            quarter INT,
            month INT,
            week INT,
            day INT)""");

#create the table fact_rental
con.execute("""CREATE TABLE melbourne.fact_rental
           (key_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY, 
            listing_id INT NOT NULL, 
            available VARCHAR(2),
            host_id INT,
            date_id INT)""");
#con.execute('SET SQL_MODE=ANSI_QUOTES')

In [55]:
dim_listing.to_sql(con=con, schema='melbourne', name='dim_listing', if_exists='append',index=False)

In [56]:
dim_host.to_sql(con=con, schema='melbourne', name='dim_host', if_exists='append',index=False)

In [57]:
dim_date.to_sql(con=con, schema='melbourne', name='dim_date', if_exists='append',index=False)

In [58]:
fact_rental.to_sql(con=con, schema='melbourne', name='fact_rental', if_exists='append',index=False)

In [59]:
con.close();